{% extends "private/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offste-lg-3">
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ form.as_p }} 
                <div class="form-control slidercontainer">
                  <input type="range" min="1" max="3" value="2" class="slider" id="typeSelector">
                </div>
                <div class="row">
                  <div class="col-4">Help</div>
                  <div class="col-4 text-center">Say</div>
                  <div class="col-4 text-right">Offer</div>
                </div>

                <div class="btn-petition">
                    <button class="btn" type="submit">Create petition</button> 
                </div>
            </form> 
        </div>
    </div>
    
</div>

{% endblock %}

{% block modals %}
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {

      $("#typeSelector").change(function () {
        this.value === "1" ? $("#id_petition_type").val("help") : (this.value === "3" ? $("#id_petition_type").val("offer") : $("#id_petition_type").val("petition"));
      });



  </script>
{% endblock %}
