{% extends "private/base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6 offste-lg-3">
            <form method = "post" enctype="multipart/form-data"> 
                {% csrf_token %} 
                {{ form.as_p }} 
                <div class="form-control slidercontainer">
                  <input type="range" min="1" max="3" value="2" class="slider" id="typeSelector">
                </div>
                <div class="row">
                  <div class="col-4">Help</div>
                  <div class="col-4 text-center">Say</div>
                  <div class="col-4 text-right">Offer</div>
                </div>
                <div class="row">
                  <div class="col-lg-6 offset-lg-3">
                      <div class="scrollmenu">
                        <a href="javascript:addItem('Groceries')">Groceries</a>
                        <a href="javascript:addItem('Dance')">Dance</a>
                        <a href="javascript:addItem('Fun')">Fun</a>
                        <a href="javascript:addItem('Help')">Help</a>
                        <a href="javascript:addItem('Funny')">Funny</a>
                        <a href="javascript:addItem('Pizza')">Pizza</a>
                        <a href="javascript:addItem('Deliveroo')">Deliveroo</a>
                      </div>
                  </div>
              </div>
              <div class="row ">
                <div class="col-lg-6 offset-lg-3 item-cloud">

                </div>

              </div>
                <div class="btn-petition">
                    <button class="btn" type="submit">Create petition</button> 
                </div>
            </form> 
        </div>
    </div>
    
</div>

{% endblock %}

{% block modals %}
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modalCrop">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">Crop the photo</h4>
        </div>
        <div class="modal-body">
          <img src="" id="image" style="max-width: 100%;">
        </div>
        <div class="modal-footer">
          <div class="btn-group pull-left" role="group">
            <button type="button" class="btn btn-default js-zoom-in">
              <span class="glyphicon glyphicon-zoom-in"></span>
            </button>
            <button type="button" class="btn btn-default js-zoom-out">
              <span class="glyphicon glyphicon-zoom-out"></span>
            </button>
          </div>
          <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
          <button type="button" class="btn btn-primary js-crop-and-upload">Crop and upload</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
<script>
    $(document).ready(function () {

      $("#typeSelector").change(function () {
        this.value === "1" ? $("#id_petition_type").val("help") : (this.value === "3" ? $("#id_petition_type").val("offer") : $("#id_petition_type").val("petition"));
      });

      /* SCRIPT TO OPEN THE MODAL WITH THE PREVIEW */
      $("#id_petition_img").change(function () {
        if (this.files && this.files[0]) {
          var reader = new FileReader();
          reader.onload = function (e) {
            $("#image").attr("src", e.target.result);
            $("#modalCrop").modal("show");
          }
          reader.readAsDataURL(this.files[0]);
        }
      });

      /* SCRIPTS TO HANDLE THE CROPPER BOX */
      var $image = $("#image");
      var cropBoxData;
      var canvasData;
      $("#modalCrop").on("shown.bs.modal", function () {
        $image.cropper({
          viewMode: 1,
          aspectRatio: 850/550,
          minCropBoxWidth: 850,
          minCropBoxHeight: 550,
          ready: function () {
            $image.cropper("setCanvasData", canvasData);
            $image.cropper("setCropBoxData", cropBoxData);
          }
        });
      }).on("hidden.bs.modal", function () {
        cropBoxData = $image.cropper("getCropBoxData");
        canvasData = $image.cropper("getCanvasData");
        $image.cropper("destroy");
      });

      $(".js-zoom-in").click(function () {
        $image.cropper("zoom", 0.1);
      });

      $(".js-zoom-out").click(function () {
        $image.cropper("zoom", -0.1);
      });

      /* SCRIPT TO COLLECT THE DATA AND POST TO THE SERVER */
      $(".js-crop-and-upload").click(function () {
        var cropData = $image.cropper("getData");
        $("#id_x").val(cropData["x"]);
        $("#id_y").val(cropData["y"]);
        $("#id_height").val(cropData["height"]);
        $("#id_width").val(cropData["width"]);
        $("form").submit();
      });

    });


    function addItem (item) {
      var itemHtml =  '<div class="chip chip-md success-color white-text  example z-depth-2 mr-1"><i class="fas fa-tags "></i>&nbsp;&nbsp;'+item+'&nbsp;&nbsp;<i class="close white-text fas fa-times"></i></div>'
      $(".item-cloud").append(itemHtml);
    }
  </script>
{% endblock %}
