{% extends "private/base.html" %}
{% load static %}

{% block title %}Taco - Share and find{% endblock %}
{% block content %}

<div class="container">


    {% if my_provider_list %}
    <div class="row">
        {% for provider in my_provider_list %}
        <div class="col-lg-6 offset-lg-3">
            <a href="#">
                <div class="cardbox shadow-lg bg-white">

                    <div class="cardbox-heading">
                        <!-- START dropdown-->
                        <div class="dropdown float-right">
                            <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown"
                                aria-expanded="false">
                                <em class="fa fa-ellipsis-h"></em>
                            </button>
                            <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"
                                style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#">Hide post</a>
                                <a class="dropdown-item" href="#">Stop following</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                        <!--/ dropdown -->
                        <div class="media m-0">
                            <div class="d-flex mr-3">
                                <a href="">
                                    {% if provider.owner.avatar %}
                                    <img class="img-fluid rounded-circle" src="{{ provider.user.avatar.url }}" alt="User"></a>
                                    {% else %}
                                    <img class="img-fluid rounded-circle" src="{% static 'users/images/default.jpg' %}" alt="Image">
                                    {% endif %}
                            </div>
                            <div class="media-body">
                                <p class="m-0">{{provider.user.get_full_name}} - {{provider.owner.id}}</p>
                                <small><span><i class="icon ion-md-pin"></i> Nairobi, Kenya - Petition {{provider.id}}</span></small>
                                <small><span><i class="icon ion-md-time"></i>{{ provider.creation_date|timesince }}</span></small>
                            </div>
                        </div>
                        <!--/ media -->
                    </div>
                    <!--/ cardbox-heading -->

                    <div class="cardbox-item">
                        {% if provider.provider_img %}
                        <img class="img-fluid" src="{{ provider.provider_main_img.url }}" alt="Image">
                        {% else %}
                        <img class="img-fluid" src="{% static 'users/images/business.jpg' %}" alt="Image">
                        {% endif %}
                    </div>
                    <!--/ cardbox-item -->
                    <div class="cardbox-title">
                        <span class="mb-0">{{ provider.name }}</span>
                        <p class="text-muted">{{ provider.description|truncatewords:25 }}</p>
                    </div>
                    <div class="cardbox-base">
                        <ul class="float-right">
                            <li><a><i class="fa fa-comments"></i></a></li>
                            <li><a><em class="mr-5"></em></a></li>
                            <li><a><i class="fa fa-share-alt"></i></a></li>
                            <li><a><em class="mr-3"></em></a></li>
                        </ul>
                        <ul>
                            <li><a><i class="fa fa-thumbs-up"></i></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a><span class="followed_{{ provider.id }}">{{ provider.followers }} </span><span class="ml-0">following {{provider.name}}</span</a></li>
                        </ul>
                    </div>
                    <!--/ cardbox-base -->
                    <div class="cardbox-comments">
                            {% if provider.user.id != user.id %}
                                <div class="follow_btn follow_btn_{{provider.id}}" onclick="javascript:follow('{{ provider.id }}')">{% if provider.i_follow > 0 %} Unfollow{% else %}Follow{% endif %}</div>
                            {% endif %}
                        <!--/. Search -->
                    </div>
                    <!--/ cardbox-like -->
                </div>
                <!--/ cardbox -->
            </a>
        </div>
        <!--/ col-lg-6 -->

        <!--/ col-lg-3 -->


        {% endfor %}
    </div>

    {% else %}
    <div class="h5 col-lg-6 offset-lg-3 text-center mt-5 mb-3 ">You are nor following any business at this moment</div>
    {% endif %}


    {% if full_provider_list %}
    <div class="row">
        <div class="h5 col-lg-6 offset-lg-3 text-center mt-5 mb-3 ">Business you may know... (or not)</div>
        {% for provider in full_provider_list %}
        <div class="col-lg-6 offset-lg-3">
            <a href="#">
                <div class="cardbox shadow-lg bg-white">

                    <div class="cardbox-heading">
                        <!-- START dropdown-->
                        <div class="dropdown float-right">
                            <button class="btn btn-flat btn-flat-icon" type="button" data-toggle="dropdown"
                                aria-expanded="false">
                                <em class="fa fa-ellipsis-h"></em>
                            </button>
                            <div class="dropdown-menu dropdown-scale dropdown-menu-right" role="menu"
                                style="position: absolute; transform: translate3d(-136px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                <a class="dropdown-item" href="#">Hide post</a>
                                <a class="dropdown-item" href="#">Stop following</a>
                                <a class="dropdown-item" href="#">Report</a>
                            </div>
                        </div>
                        <!--/ dropdown -->
                        <div class="media m-0">
                            <div class="d-flex mr-3">
                                <a href="">
                                    {% if provider.owner.avatar %}
                                    <img class="img-fluid rounded-circle" src="{{ provider.user.avatar.url }}" alt="User"></a>
                                    {% else %}
                                    <img class="img-fluid rounded-circle" src="{% static 'users/images/default.jpg' %}" alt="Image">
                                    {% endif %}
                            </div>
                            <div class="media-body">
                                <p class="m-0">{{provider.user.get_full_name}} - {{provider.owner.id}}</p>
                                <small><span><i class="icon ion-md-pin"></i> Nairobi, Kenya - Petition {{provider.id}}</span></small>
                                <small><span><i class="icon ion-md-time"></i>{{ provider.creation_date|timesince }}</span></small>
                            </div>
                        </div>
                        <!--/ media -->
                    </div>
                    <!--/ cardbox-heading -->

                    <div class="cardbox-item">
                        {% if provider.provider_img %}
                        <img class="img-fluid" src="{{ provider.provider_main_img.url }}" alt="Image">
                        {% else %}
                        <img class="img-fluid" src="{% static 'users/images/business.jpg' %}" alt="Image">
                        {% endif %}
                    </div>
                    <!--/ cardbox-item -->
                    <div class="cardbox-title">
                        <span class="mb-0">{{ provider.name }}</span>
                        <p class="text-muted">{{ provider.description|truncatewords:25 }}</p>
                    </div>
                    <div class="cardbox-base">
                        <ul class="float-right">
                            <li><a><i class="fa fa-comments"></i></a></li>
                            <li><a><em class="mr-5"></em></a></li>
                            <li><a><i class="fa fa-share-alt"></i></a></li>
                            <li><a><em class="mr-3"></em></a></li>
                        </ul>
                        <ul>
                            <li><a><i class="fa fa-thumbs-up"></i></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/3.jpeg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/1.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/5.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a href="#"><img
                                        src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/2.jpg"
                                        class="img-fluid rounded-circle" alt="User"></a></li>
                            <li><a><span class="followed_{{ provider.id }}">{{ provider.followers }} </span><span class="ml-0">following {{provider.name}}</span></a></li>
                        </ul>
                    </div>
                    <!--/ cardbox-base -->
                    <div class="cardbox-comments">
                        {% if provider.user.id != user.id %}
                            <div class="follow_btn follow_btn_{{provider.id}}" onclick="javascript:follow('{{ provider.id }}')">{% if provider.i_follow > 0 %} Unfollow{% else %}Follow{% endif %}</div>
                        {% endif %}
                    <!--/. Search -->
                    </div>
                    <!--/ cardbox-like -->
                </div>
                <!--/ cardbox -->
            </a>
        </div>
        <!--/ col-lg-6 -->

        <!--/ col-lg-3 -->


        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock %}

{% block extra_js %}
<script>
    function follow(provider) {

        $.ajax({
            url: '{% url "following_provider" %}',
            data: {
                'provider': provider
            },
            type: "POST",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            dataType: 'json',
            success: function (data,  textStatus, xhr) {
                if (xhr.status === 201) {
 //                   $("p.follower-count").html(parseInt($("p.follower-count").html())+1)
                    $(".follow_btn_"+provider).html("Unfollow");
                }
                else {
//                    $("p.follower-count").html(parseInt($("p.follower-count").html())-1)
                    $(".follow_btn_"+provider).html("Follow");
                }



            }
        });
    }

    $('.follow').click(function () {
        follow();
        $('.follow').off();
    });

</script>
{% endblock extra_js %}