{% extends "private/base.html" %}
{% load static %}

{% block title %}Taco - Share and find{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-lg-6 offset-lg-3">
            <div class="card shadow-lg bg-white">
                <div class="card-header">
                    <div class="profile_pic">
                        {% if person.avatar %}
                        <img class="img-fluid" src="{{ person.avatar.url }}" alt="User">
                        {% else %}
                        <img class="img-fluid" src="{% static 'users/images/default.jpg' %}" alt="Image">
                        {% endif %}
                    </div>
                </div>
                <div class="card-body">
                    <div class="d-lfex justify-content-center flex-column">
                        <div class="name_container">
                            <div class="name">{{ person.get_full_name }}</div>
                        </div>
                        <div class="address">Kuala Lumpur, Malaysia</div>
                    </div>
                    <div class="follow">
                        <div class="follow_btn" >{% if i_follow > 0 %}Unfollow{% else %}Follow{% endif %}</div>
                    </div>
                    <div class="info_container">
                        <div class="info">
                            <p>followers</p>
                            <p class="follower-count">{{followers}}</p>
                        </div>
                        <div class="info">
                            <p>followings</p>
                            <p>{{following}}</p>
                        </div>
                        <div class="info">
                            <p>petitions</p>
                            <p>{{petitions_original}}</p>
                        </div>
                        <div class="info">
                            <p>joins</p>
                            <p>{{petitions_joins}}</p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="view_profile">
                        Report
                    </div>
                    <div class="message">
                        Message
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>

    function follow() {

        $.ajax({
            url: '{% url "following" %}',
            data: {
                'following_to': '{{ person.id }}'
            },
            type: "POST",
            beforeSend: function (xhr, settings) {
                xhr.setRequestHeader("X-CSRFToken", '{{ csrf_token }}');
            },
            dataType: 'json',
            success: function (data, textStatus, xhr) {
                if (xhr.status === 201) {
                    $("p.follower-count").html(parseInt($("p.follower-count").html())+1)
                    $(".follow_btn").html("Unfollow");
                }
                else {
                    $("p.follower-count").html(parseInt($("p.follower-count").html())-1)
                    $(".follow_btn").html("Follow");
                }
                    
 
            }
        });
    }

    $('.follow_btn').click(function () {
        follow();
        //$('.follow_btn').off();
    });


</script>
{% endblock extra_js %}