{% extends "account/base_login.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign out" %}{% endblock %}

{% block content %}




<div id="first">
   <div class="myform form ">
      <div class="logo mb-3">
         <div class="col-md-12 text-center">
            <h1>{% trans "Sign out" %}</h1>
         </div>
      </div>
      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
         {% csrf_token %}
         {% if redirect_field_value %}
         <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
         {% endif %}
         <button type="submit"
            class="primaryAction btn btn-block mybtn btn-primary tx-tfm">{% trans 'Sign Out' %}</button>

      </form>

   </div>
</div>


{% endblock %}